<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmg.mall.product.mapper.ProductImageMapper">
  <resultMap id="BASE_RESULT" type="com.xmg.mall.product.domain.ProductImage">
    <id property="id" column="id"/>
    <result property="createdDate" column="createdDate"/>
    <result property="lastModifiedDate" column="lastModifiedDate"/>
    <result property="version" column="version"/>
    <result property="productId" column="productId"/>
    <result property="image" column="image"/>
    <result property="sequence" column="sequence"/>
    <result property="mods" column="mods"/>
  </resultMap>
  <sql id="BASE_COLUMNS">productImage.id, productImage.createdDate, productImage.lastModifiedDate, productImage.version,productImage.productId,productImage.image,productImage.sequence,productImage.mods</sql>
  <sql id="QUERY_COLUMNS">productImage.id, productImage.createdDate, productImage.lastModifiedDate, productImage.version,productImage.productId,productImage.image,productImage.sequence,productImage.mods</sql>
  <resultMap id="VO_RESULT" type="com.xmg.mall.product.vo.ExtendedProductImage" extends="BASE_RESULT">
    <association property="product" column="productId" javaType="com.xmg.mall.product.domain.ProductImage" columnPrefix="product_" resultMap="com.xmg.mall.product.mapper.ProductImageMapper.BASE_RESULT"/>
  </resultMap>
  <sql id="JOIN_COLUMNS">
    <if test="joinProduct != null">, product.id AS product_id, product.name AS product_name</if>
  </sql>
  <select id="get" resultMap="BASE_RESULT" parameterType="java.lang.Long">SELECT 
    <include refid="BASE_COLUMNS"/> FROM `ProductImage` productImage WHERE id = #{id }
  </select>
  <delete id="delete" parameterType="java.lang.Long">DELETE FROM `ProductImage` WHERE id = #{id}</delete>
  <insert id="add" parameterType="com.xmg.mall.product.domain.ProductImage" useGeneratedKeys="true" keyProperty="id" keyColumn="id">INSERT INTO `ProductImage`(id, createdDate, version,productId,image,sequence,mods) VALUES(#{id }, #{createdDate}, 0, #{productId }, #{image }, #{sequence }, #{mods })</insert>
  <update id="update" parameterType="com.xmg.mall.product.domain.ProductImage">UPDATE `ProductImage`
    <set>lastModifiedDate = now(), version = version + 1, productId = #{productId }, image = #{image }, sequence = #{sequence }, mods = #{mods }</set>
    <where>id = #{id } AND version = #{version }</where>
  </update>
  <sql id="QUERY_JOIN">
    <if test="joinProduct != null">${joinProduct.name} `ProductImage` product ON product.id = productImage.productId</if>
  </sql>
  <sql id="QUERY_WHERE_SQL">
    <if test="ids != null">AND productImage.id IN
      <foreach collection="ids" item="id" open="(" close=")" separator=", ">#{id }</foreach>
    </if>
    <if test="startCreatedDate != null">AND productImage.createdDate &gt;= #{startCreatedDate }</if>
    <if test="endCreatedDate != null">AND productImage.createdDate &lt;= #{endCreatedDate }</if>
    <if test="productId != null">AND productImage.productId = #{productId}</if>
    <if test="excludeMods != null">AND 
      <foreach collection="excludeMods" item="mod" open="(" close=")" separator=" AND ">productImage.mods &amp; #{mod } = 0</foreach>
    </if>
    <if test="includeMods != null &amp;&amp; excludeMods == null ">AND 
      <foreach collection="includeMods" item="mod" open="(" close=")" separator=" AND ">productImage.mods &amp; #{mod } &lt;&gt; 0</foreach>
    </if>
    <if test="productQuery != null &amp;&amp; joinProduct">
      <if test="productQuery.ids != null">AND product.id IN
        <foreach collection="productQuery.ids" item="id" open="(" close=")" separator=", ">#{id }</foreach>
      </if>
      <if test="productQuery.startCreatedDate != null">AND product.createdDate &gt;= #{productQuery.startCreatedDate }</if>
      <if test="productQuery.endCreatedDate != null">AND product.createdDate &lt;= #{productQuery.endCreatedDate }</if>
      <if test="productQuery.productId != null">AND product.productId = #{productQuery.productId}</if>
      <if test="productQuery.excludeMods != null">AND 
        <foreach collection="productQuery.excludeMods" item="mod" open="(" close=")" separator=" AND ">product.mods &amp; #{mod } = 0</foreach>
      </if>
      <if test="productQuery.includeMods != null &amp;&amp; productQuery.excludeMods == null ">AND 
        <foreach collection="productQuery.includeMods" item="mod" open="(" close=")" separator=" AND ">product.mods &amp; #{mod } &lt;&gt; 0</foreach>
      </if>
    </if>
  </sql>
  <sql id="QUERY_WHERE">
    <where>
      <include refid="QUERY_WHERE_SQL"/>
    </where>
  </sql>
  <sql id="QUERY_ORDER_BY">
    <if test="orderBys.size() &gt; 0">ORDER BY
      <foreach collection="orderBys.entrySet()" item="entry" separator=", ">productImage.${entry.key} ${entry.value}</foreach>
    </if>
  </sql>
  <sql id="QUERY_LIMIT">
    <if test="pageSize &gt; 0">LIMIT ${start}, ${pageSize}</if>
  </sql>
  <select id="count" parameterType="com.xmg.mall.product.qo.ProductImageQuery" resultType="java.lang.Integer">SELECT COUNT(*) FROM `ProductImage` AS productImage
    <include refid="QUERY_JOIN"/>
    <include refid="QUERY_WHERE"/>
  </select>
  <select id="query" parameterType="com.xmg.mall.product.qo.ProductImageQuery" resultMap="VO_RESULT">SELECT 
    <include refid="QUERY_COLUMNS"/>
    <include refid="JOIN_COLUMNS"/> FROM `ProductImage` AS productImage
    <include refid="QUERY_JOIN"/>
    <include refid="QUERY_WHERE"/>
    <include refid="QUERY_ORDER_BY"/>
    <include refid="QUERY_LIMIT"/>
  </select>
</mapper>
