<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmg.mall.product.mapper.TotalSkuPropertyRelationshipValueMapper">
  <resultMap id="TOTAL_RESULT" type="com.xmg.mall.product.vo.TotalSkuPropertyRelationshipValue">
    <result column="rows" property="rows"/>
    <result column="createdDate" property="createdDate"/>
  </resultMap>
  <sql id="QUERY_WHERE">
    <where>
      <include refid="com.xmg.mall.product.mapper.SkuPropertyRelationshipValueMapper.QUERY_WHERE_SQL"/>
    </where>
  </sql>
  <sql id="TOTAL_COLUMNS">
    <trim suffixOverrides=",">NULL, 
      <if test="totalCountRows">COUNT(0) AS rows,</if>
      <if test="groupBys.size() &gt; 0">
        <foreach collection="groupBys.keySet()" item="key">skuPropertyRelationshipValue.${key} AS ${key},</foreach>
      </if>
      <if test="totalSumSequence">SUM(skuPropertyRelationshipValue.sequence) AS totalSumSequence,</if>
      <if test="totalMinSequence">MIN(skuPropertyRelationshipValue.sequence) AS totalMinSequence,</if>
      <if test="totalMaxSequence">MAX(skuPropertyRelationshipValue.sequence) AS totalMaxSequence,</if>
      <if test="totalAvgSequence">AVG(skuPropertyRelationshipValue.sequence) AS totalAvgSequence,</if>
    </trim>
  </sql>
  <sql id="QUERY_GROUP_BY">
    <if test="groupBys.size() &gt; 0">GROUP BY
      <foreach collection="groupBys.entrySet()" item="entry" separator=",">
        <choose>
          <when test="entry.value != null">
            <choose>
              <when test="entry.value.startsWith('&amp;')">skuPropertyRelationshipValue.${entry.key} ${entry.value}</when>
              <otherwise>${entry.value}(skuPropertyRelationshipValue.${entry.key})</otherwise>
            </choose>
          </when>
          <otherwise>skuPropertyRelationshipValue.${entry.key}</otherwise>
        </choose>
      </foreach>
    </if>
  </sql>
  <sql id="QUERY_HAVING">
    <trim prefixOverrides="AND | OR" prefix="HAVING">
      <if test="minTotalCountRows != null">AND COUNT(0) &gt;= #{minTotalCountRows}</if>
      <if test="maxTotalCountRows != null">AND COUNT(0) &lt;= #{maxTotalCountRows}</if>
      <if test="minTotalSumSequence != null">AND SUM(skuPropertyRelationshipValue.sequence) &gt;= #{minTotalSumSequence}</if>
      <if test="maxTotalSumSequence != null">AND SUM(skuPropertyRelationshipValue.sequence) &lt;= #{maxTotalSumSequence}</if>
      <if test="minTotalMinSequence != null">AND MIN(skuPropertyRelationshipValue.sequence) &gt;= #{minTotalMinSequence}</if>
      <if test="maxTotalMinSequence != null">AND MIN(skuPropertyRelationshipValue.sequence) &lt;= #{maxTotalMinSequence}</if>
      <if test="minTotalMaxSequence != null">AND MAX(skuPropertyRelationshipValue.sequence) &gt;= #{minTotalMaxSequence}</if>
      <if test="maxTotalMaxSequence != null">AND MAX(skuPropertyRelationshipValue.sequence) &lt;= #{maxTotalMaxSequence}</if>
      <if test="minTotalAvgSequence != null">AND AVG(skuPropertyRelationshipValue.sequence) &gt;= #{minTotalAvgSequence}</if>
      <if test="maxTotalAvgSequence != null">AND AVG(skuPropertyRelationshipValue.sequence) &lt;= #{maxTotalAvgSequence}</if>
    </trim>
  </sql>
  <select id="query" resultMap="TOTAL_RESULT" parameterType="com.xmg.mall.product.qo.TotalSkuPropertyRelationshipValueQuery">SELECT 
    <include refid="TOTAL_COLUMNS"/>FROM `SkuPropertyRelationshipValue` AS skuPropertyRelationshipValue
    <include refid="QUERY_WHERE"/>
    <include refid="QUERY_GROUP_BY"/>
    <include refid="QUERY_HAVING"/>
    <include refid="com.xmg.mall.product.mapper.SkuPropertyRelationshipValueMapper.QUERY_ORDER_BY"/>
    <include refid="com.xmg.mall.product.mapper.SkuPropertyRelationshipValueMapper.QUERY_LIMIT"/>
  </select>
</mapper>
