<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		 
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
							http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	           				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.xmg.mall.*.service"/>

	<util:properties id="BASE_PROPS" location="classpath:/properties/base.properties" />
	<util:properties id="JDBC_PROPS" location="classpath:db/mysql.properties" />

	<bean abstract="true" id="hardDiskFileUploader" class="com.xmg.mall.base.upload.HardDiskFileUploader">
		<property name="baseDirectory" value="#{BASE_PROPS['upload.disk.directory']}" />
		<property name="maxFileSize" value="#{BASE_PROPS['upload.disk.maxFileSize']}" />
		<property name="namespace" value="#{BASE_PROPS['upload.disk.namespace']}" />
	</bean>
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="#{JDBC_PROPS['jdbc.driver']}" />
		<property name="url" value="#{JDBC_PROPS['jdbc.url']}" />
		<property name="username" value="#{JDBC_PROPS['jdbc.username']}" />
		<property name="password" value="#{JDBC_PROPS['jdbc.password']}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.xmg.mall.*.mapper" />
	</bean>


	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="SERVICE_ADVICE" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="exist*" read-only="true" />
			<tx:method name="query*" read-only="true" />
			<tx:method name="count*" read-only="true" />
			<tx:method name="*Async" propagation="REQUIRES_NEW" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(* com.xmg.mall.*.service.*Service.*(..))" id="SERVICE_POINTCUT" />
		<aop:advisor advice-ref="SERVICE_ADVICE" pointcut-ref="SERVICE_POINTCUT" />
	</aop:config>
</beans>